.container.breadcrumbs
  =link_to "Home", root_path
  %span.arrow >
  =link_to "Services", services_path
  %span.arrow >
  %span.only_mobile_inline This service
  %span.no_mobile
    =@service.name
    service

.container.white_bg#service_show
  %h1= @service.name

  %p.bold Steps
  %p= simple_format(@service.steps)

  %p.bold Patterns
  #pattern_links
    - @service.patterns.each do |pattern|
      = link_to pattern.name, filter_by_pattern_path(pattern.slug), class: "single_pattern #{pattern.name.parameterize}", title: "View services under the #{pattern.name} pattern"

  - if @service.life_events.any?
    %p.bold Life events
    - @service.life_events.each do |life_event|
      = link_to life_event.name, services_path(life_event_select: life_event.id, anchor: 'pattern_table'), class: "single_pattern not_pattern large_pattern"

  %p.bold Organisation type
  - @service.organisation_types.each do |org_type|
    = org_type

  %p.bold Transactional
  %p
    - if @service.transactional
      Yes, this service is transactional
    - else
      No, this is a non transactional service

  %br
  %p
    %span.hint Let us know if there is anything missing or that should be changed on this service.
    %br
    =mail_to ENV['ADMIN_EMAIL'], "Suggest an amendment to this service", subject: "Ammend service: patterns.wearefuturegov.com/services/#{@service.id}"

.container.full_container
  = link_to "Add a new service", new_service_path, class: 'button right'
