.container#service_show
  %h1= @service.name

  %p.bold Steps
  %p= @service.steps

  %p.bold Patterns
  - @service.patterns.each do |pattern|
    .single_pattern{ class: pattern.name.parameterize }
      = pattern.name

  - if @service.life_events.any?
    %p.bold Life events
    - @service.life_events.each do |life_event|
      .single_pattern.not_pattern
        = life_event.name

  %p.bold Organisation type
  - @service.organisation_types.each do |org_type|
    = org_type

  %p.bold Transactional
  %p
    - if @service.transactional
      Yes, this service is transactional
    - else
      No, this is a non transactional service
