= f.input :name, :label => "Name of service", :placeholder => "Enter name of the service", hint: "This is might be what the service is called in your service directory, in your communications or on your website. But also think about what a user might be looking for from a service. For example, ‘Register a birth’, ‘Apply for a Blue Badge’ or ‘Report a flood’."

= f.input :steps, hint: "This is the number of separate steps to complete in order to access an end-to-end service. For example, if users are registering a birth, they will normally be asked to book an appointment and then pay for the service. If there are multiple options for a user, for example ‘register for a service’ or ‘sign-in’, we’ve listed out alternatives using A., B., C. etc.  If a service (typically a non-transactional one) happens over a period of time, we’ve added its specific steps as Step 01, Step 02, etc."

.input.check_boxes.required.service_patterns.field_with_hint.convert_checkboxes
  #pattern_checkboxes
    %div= f.label :pattern_ids, "Which patterns apply to this service?", required: true
    %span.hint
      These are the common interactions that we can spot once we have identified the steps of a service. Things like ‘Check something’ or ‘Register for something’. A service can involve more than one pattern.
    = f.collection_check_boxes(:pattern_ids, Pattern.all, :id, :name) do |builder|
      = builder.check_box
      .blocker
      %span{ class: "single_pattern #{builder.object.name.parameterize}" }
        = builder.object.name
    %span.errors
      = f.error :pattern_ids

  #pattern_confirmation
    - Pattern.all.each do |pattern|
      .pattern_info.hidden{ class: "pattern_text_#{pattern.id}"}
        .bold
          You have chosen
          =pattern.name
        %p=pattern.description.html_safe

.input.check_boxes.required.service_life_event_ids.field_with_hint.convert_checkboxes
  %div= f.label :life_event_ids, "Which life events apply to this service? (optional)", required: true
  %span.hint
    This is a new way of considering a service in relation to life events of a user (and as such it’s a provisional list that builds on
    = link_to "this LGA example", "https://standards.esd.org.uk/?uri=list%2FlifeEvents", target: '_blank'
    ). For example, ‘Registering a birth’ or ‘Planning a naming ceremony’ could be grouped together under the life event of ‘Having a baby’, while applying for employment could be under ‘Getting a Job’. A service can have more than one applicable life event.
  = f.collection_check_boxes(:life_event_ids, LifeEvent.all, :id, :name) do |builder|
    = builder.check_box
    .blocker
    %span{ class: "single_pattern #{builder.object.name.parameterize}" }
      = builder.object.name
  %span.errors
    = f.error :life_event_ids

.input.check_boxes.required.service_organisation_types.field_with_hint.convert_checkboxes
  %div= f.label :organisation_types, "Which organisation types is this service found in?", required: true
  %span.hint
    We’d like to get a sense of where different services sit in different types of organisations. For example, you can tell us whether a service is in a county, borough or district council. Services can sit in more than one organisation.
  = f.collection_check_boxes(:organisation_types, Service.organisation_types, :first, :last, include_hidden: false) do |builder|
    = builder.check_box
    .blocker
    %span{ class: "single_pattern" }
      = builder.object.first
  %span.errors
    = f.error :organisation_types


= f.input :transactional, :label => "Is this service transactional?", as: :select, collection: [['Yes', true], ['No', false]], include_blank: true, hint: "A transactional service is one that users complete end to end that doesn’t have a high level of complexity and/or need face-to-face interaction. For example, ordering a certificate or making a payment. A non-transactional service is made up of multiple interactions between the user and the council over time, for example social care services. That said, non-transactional services can include transactional services, like the ones mentioned above."

%br
%fieldset
  .description
    %legend Your details
    %p We’re asking for your name, your email address and the name of the organisation that you work for. This is so that our moderators can follow up with you if they have a question about the services you have suggested. It might be that we need a little more detail to complete the entry.
    %br
    = f.input :suggester_name, label: 'Your name', placeholder: 'Your name'
    = f.input :suggester_email, label: 'Your email', placeholder: 'Your email'
    = f.input :suggester_organisation, label: 'Your organisation', placeholder: 'Your organisation'

%p
  If you have any other comments, queries or suggestions about LocalGov Patterns, then you can email us at:
  %strong
    = ENV['ADMIN_EMAIL']
