.input.string.required.service_name.field_with_hint
  = f.label :name, "Name of the service"
  %span.hint
    %p
      This might be what the service is called in your service directory, in your communications or on your website. But also think about what a user might be looking for from a service.
    %p
      For example, ‘Register a birth’, ‘Apply for a Blue Badge’ or ‘Report a flood’.
  = f.input :name, label: false

.input.text.required.service_steps.field_with_hint
  = f.label :steps, "Steps in the service"
  %span.hint
    %p
      Describe the different steps that happen when someone uses this service. If a service (typically a non-transactional one) happens over a longer period of time, you might want to break this down as Step 01, Step 02. etc.
    %p
      Example of 'Register a birth' steps: Book an appointment > Pay
  = f.input :steps, label: false

.input.check_boxes.required.service_patterns.field_with_hint.convert_checkboxes
  #pattern_checkboxes
    %div= f.label :pattern_ids, "Which patterns apply to this service?", required: true
    %span.hint
      %p
        These are the common interactions and tasks have been identified as steps of a service. For example, ‘Check something’ or ‘Register for something’.
      %p
        You can select more than one pattern below.
    = f.collection_check_boxes(:pattern_ids, Pattern.all, :id, :name) do |builder|
      = builder.check_box
      .blocker
      %span{ class: "single_pattern #{builder.object.name.parameterize}" }
        = builder.object.name
    %span.errors
      = f.error :pattern_ids

  #pattern_confirmation
    - Pattern.all.each do |pattern|
      .pattern_info.hidden{ class: "pattern_text_#{pattern.id}"}
        .bold
          You have chosen
          =pattern.name
        %p=pattern.description.html_safe

.input.check_boxes.required.service_life_event_ids.field_with_hint.convert_checkboxes
  %div= f.label :life_event_ids, "Which life events apply to this service? (optional)", required: true
  %span.hint
    %p
      This is a new way of considering a service in relation to life events of a user (and as such it’s a provisional list that builds on
      = link_to "this LGA example", "https://standards.esd.org.uk/?uri=list%2FlifeEvents", target: '_blank'
      ).
    %p
      For example, ‘Registering a birth’ or ‘Planning a naming ceremony’ could be grouped together under the life event of ‘Having a baby’, while applying for employment could be under ‘Getting a Job’.
    %p
      Select all that apply.
  = f.collection_check_boxes(:life_event_ids, LifeEvent.all, :id, :name) do |builder|
    = builder.check_box
    .blocker
    %span{ class: "single_pattern #{builder.object.name.parameterize}" }
      = builder.object.name
  %span.errors
    = f.error :life_event_ids

.input.check_boxes.required.service_organisation_types.field_with_hint.convert_checkboxes
  %div= f.label :organisation_types, "Which organisation types is this service found in?", required: true
  %span.hint
    %p
      We’d like to get a sense of where different services sit in different types of organisations. For example, you can tell us whether a service is in a county, borough or district council.
    %p
      Services can sit in more than one organisation.
  = f.collection_check_boxes(:organisation_types, Service.organisation_types, :first, :last, include_hidden: false) do |builder|
    = builder.check_box
    .blocker
    %span{ class: "single_pattern" }
      = builder.object.first
  %span.errors
    = f.error :organisation_types


= f.input :transactional, :label => "Is this service transactional?", as: :select, collection: [['Yes', true], ['No', false]], include_blank: true, hint: "A transactional service is a direct interaction between the council and a service user. It should be low complexity, and typically won’t require any additional or face-to-face interventions. A non-transactional service is typically made up of multiple and different types of interactions over a longer period of time."

%br
%fieldset#your_details
  .restrict_full_width
    %legend Your details
    %p.hint.mb We’re asking for your name, your email address and the name of the organisation that you work for. This is so that our moderators can follow up with you if they have a question about the services you have suggested. It might be that we need a little more detail to complete the entry.

    = f.input :suggester_name, label: 'Your name', placeholder: 'Your name'
    = f.input :suggester_email, label: 'Your email', placeholder: 'Your email'
    = f.input :suggester_organisation, label: 'Your organisation', placeholder: 'Your organisation'

.restrict_full_width
  %br
  %p.mb
    If you have any other comments, queries or suggestions about LocalGov Patterns, then you can email us at:
    %strong
      =mail_to ENV['ADMIN_EMAIL']
