.container
  .restrict_full_width
  .two_thirds
    %h1.futura_title.pink Service patterns for local government
    %p.large_p
      Welcome to
      %strong
        LocalGov Patterns
      \- a nationwide project to build a shared library of service patterns for local government.
  #partner_box.third.grey_box.centre_text
    In partnership with
    .essex_logo
  .two_thirds
    = link_to "See the patterns", services_path, class: 'button large mb'

    .restrict_full_width
      %p We've been working with Essex County Council to map their services to identify and understand common service patterns. It became clear that there is a massive opportunity to open up this work to create opportunities for collaboration and shared knowledge.

      %p
        In short, to create
        %span.bold a shared library of service patterns for local government.




.container
  .restrict_full_width.grey_box.full_width
    %h2 What is a service?

    %p For a user, a service is simple. It’s something that helps them to do something — like plan an event, get help with transportation or find a place to live.

    %p
      %i
        “It’s an activity that needs to be done. A verb that comes naturally… that cuts across transactions, call centre menus and around advisors towards its goal.”
      Louise Downe -
      = link_to "Good services are verbs", "https://designnotes.blog.gov.uk/2015/06/22/good-services-are-verbs-2/", target: '_blank'
    %p
      Millions of people use local services every day. But these services are often designed and implemented differently. This means that the user experience can be hugely inconsistent across local government.

.container
  .restrict_full_width.grey_box.full_width
    %h2 What is a service pattern?
    %p
      Even though there are overwhelming similarities in the types of services they offer, councils often work in different ways to meet users needs.
    %p
      By breaking down services into their component parts, we can start to identify common interactions and tasks across stages of services - things like reporting a problem, applying for something or checking eligibility.
    %p
      %strong
        These are service patterns.
    %p
      Service patterns allow us to have practical guidelines for services. They help us identify how they can be designed consistently to meet shared user needs. And they also help us consider broader topics like ways of working, uses of underlying technologies and how services are supported by capabilities and processes inside organisations.




.container
  .restrict_full_width.grey_box.full_width
    %h2 Why a service pattern library?
    %p
      Working with Essex County Council, we have identified around 150 services for residents. Services like ‘registering a birth’ or ‘applying for a school place’ to ‘reporting a flood’. This has helped us get an understanding of what things look like right now within one county council.
    %p
      We want to find many more examples of services and how they are implemented from other local authorities. From there we can start to identify some commonalities and best practices and begin to prototype a service pattern library.
    %p
      A library can support local government teams to create more consistent and familiar experiences. To make things quicker, easier and more accessible for users, as well as more efficient and cost-effective for organisations.
    %p
      A library will include: when to use a pattern (and when not), how it works, any interdependencies and underlying technology and research.
    %p
      By sharing knowledge and best practice, we intend to support how local government scales service improvement and transformation in a much smarter way.




.container
  .restrict_full_width.pink_box.full_width
    %h2 Share your knowledge
    %p
      This is project is in its early stages.
      %strong
        Right now, we need input from as many local authorities as we can to build up our initial knowledge base.
      The more information we can collect, the better our understanding of service patterns will be.
    %p.mb
      %strong
        We need you to add any missing services.

    = link_to "Add a new service", new_service_path, class: 'button'

.container
  .full_width
    %h2 Read more about our service design work
    .third.blog
      = link_to "https://blog.wearefuturegov.com/what-do-we-think-about-service-patterns-for-local-government-49c75c8a2203", target: '_blank' do
        .image#blog1
        %h4 What do we think about service patterns
        %p Learn more about our thinking and approach to service patterns. Here we explore how patterns are a way of documenting and sharing a common user experience, and, as importantly, a supporting business process.
    .third.blog
      = link_to "https://blog.wearefuturegov.com/understanding-your-services-3344d4bb1f75", target: '_blank' do
        .image#blog2
        %h4 Understanding your services
        %p Mapping your service can help you understand the services your organisation delivers. Here we introducing a taxonomy to get you started, from common components technology to understanding services as life events.
    .third.blog
      = link_to "https://servicedesign.blog.essex.gov.uk/2019/05/08/sharing-and-prioritising-our-common-service-patterns/", target: '_blank' do
        .image#blog3
        %h4 Sharing and prioritising our common service patterns
        %p Find out how Essex Country Council has approached sharing and prioritising their common service patterns.

