= content_for :message_body do
  %p
    = "Dear #{@suggester_name},"
  %p
    Thanks for contributing to the LocalGov Patterns project.
  %p
    We appreciate you taking the time to help us. By sharing this information, you’re helping us understand the way services work across local government and discover ways to make them better.
  %p
    You’ve asked to be kept up to date on the project, so we’ll email you when we have any news to share. You can unsubscribe at any time by ticking the box below.
  %p
    = "If you have any other comments, queries or suggestions about LocalGov Patterns then you can email us at: #{ENV['ADMIN_EMAIL']}"