.container.white_bg
  .full_width{ class: "active_#{params[:selected]}" }
    = link_to 'All patterns', patterns_path, class: "single_pattern fg_brand"
    - @patterns.each do |pattern|
      = link_to pattern.name, patterns_path(selected: pattern.id), class: "single_pattern #{pattern.name.parameterize}"
  .full_width
    - if @selected_pattern
      .description
        %h3= @selected_pattern.name
        = @selected_pattern.description.html_safe
    - else
      .description
        %h3 All patterns
        %p We’ve talked about why we think having  a common set of service patterns across local government would be a great idea.

        %p
          So far, we’ve mapped 157 transactional services, covering everything from ‘register a birth’ to ‘report a pothole’.
          %span.bold And we’ve identified seven common service patterns.

        %p.bold To browse the different service patterns and see some examples of services that use them, click on the buttons below.

        %p You can add your own services to this library and tell us what common pattern(s) they use. There’s also a chance to give us extra details like what steps they include and what type of organisation they sit in.

= link_to "Add a new service", new_service_path, class: 'button'

.pattern_table.table.container
  %h2="#{@services.count} total services"
  .row.head_row
    .table_head.third Service name
    .table_head.quarter Patterns
    .table_head.quarter Life events
    .table_head.two_col Organisation
  - @services.each do |service|
    .row.data_row
      .table_data.third
        = service.name
      .table_data.quarter
        - service.patterns.each do |service_pattern|
          .single_pattern{ class: service_pattern.name.parameterize }
            = service_pattern.name
      .table_data.quarter
        - service.life_events.each do |life_event|
          = life_event.name
      .table_data.two_col
