.container.white_bg
  #pattern_links.full_width{ class: "active_#{params[:selected]}" }
    = link_to 'All patterns', patterns_path, class: "single_pattern fg_brand"
    - @patterns.each do |pattern|
      = link_to pattern.name.chomp(" something").chomp(" for"), patterns_path(selected: pattern.id), class: "single_pattern #{pattern.name.parameterize}"
  .full_width
    - if @selected_pattern
      .description
        %h3= @selected_pattern.name
        = @selected_pattern.description.html_safe
    - else
      .description
        %h3 All patterns
        %p We’ve talked about why we think having  a common set of service patterns across local government would be a great idea.

        %p
          So far, we’ve mapped 157 transactional services, covering everything from ‘register a birth’ to ‘report a pothole’.
          %span.bold And we’ve identified seven common service patterns.

        %p.bold To browse the different service patterns and see some examples of services that use them, click on the buttons below.

        %p You can add your own services to this library and tell us what common pattern(s) they use. There’s also a chance to give us extra details like what steps they include and what type of organisation they sit in.

.container.full_container
  = link_to "Add a new service", new_service_path, class: 'button right'

.pattern_table.table.container.full_container
  %h2="#{@services.count} total services"
  .row.head_row
    .table__head.third Service name
    .table__head.quarter Patterns
    .table__head.quarter Life events
    .table__head.two_col Organisation
  - @services.each do |service|
    .row.data_row
      .table__data.third.service__name
        = service.name
      .table__data.quarter
        .only_mobile.bold Patterns:
        - service.patterns.each do |service_pattern|
          .single_pattern{ class: service_pattern.name.parameterize }
            = service_pattern.name
      .table__data.quarter
        - if service.life_events.any?
          .only_mobile.bold Life events:
        - service.life_events.each do |life_event|
          .single_pattern.not_pattern
            = life_event.name
      .table__data.two_col
        .only_mobile.bold Organisation:
        - service.organisation_types.each do |org_type|
          = org_type

.container.full_container
  = link_to "Add a new service", new_service_path, class: 'button right'
