.container.white_bg
  #pattern_links{ class: "active_#{params[:selected]}" }
    = link_to 'All patterns', patterns_path, class: "single_pattern fg_brand"
    - @patterns.each do |pattern|
      = link_to pattern.name.chomp(" something").chomp(" for"), patterns_path(selected: pattern.id), class: "single_pattern #{pattern.name.parameterize}", title: "View services under the #{pattern.name} pattern"
  .description
    - if @selected_pattern
      .description
        %h3
          = @selected_pattern.name
          pattern
        = @selected_pattern.description.html_safe
    - else
      .description
        %h3 All patterns
        %p
          We’ve talked about why we think having a common
          = link_to "set of service patterns across local government", root_path
          is a great idea.

        %p
          So far, we’ve mapped around 150 services, covering everything from ‘register a birth’ to ‘report a pothole’.
          %span.bold And we’ve identified seven common service patterns.

        %p.bold To browse the different service patterns and see some examples of services that use them, click on the buttons above.

        %p You can add your own services to this library and tell us what common patterns they use. There’s also an opportunity to provide extra details like what steps they include, what type of organisation they sit in or what type of life event they are part of for the user.

        %p
          Alternatively, if you want to amend or comment on existing services, you can email us directly at
          %strong
            = ENV['ADMIN_EMAIL']

.container.full_container
  = link_to "Add a new service", new_service_path, class: 'button right'

.pattern_table.table.container.full_container
  %h2="#{@services.count} total services"
  .row.head_row
    .table__head.third Service name
    .table__head.quarter Patterns
    .table__head.quarter Life events
    .table__head.two_col Organisation
  - @services.each do |service|
    =link_to service_path(service), class: 'row data_row' do
      .table__data.third.service__name
        = service.name
      .table__data.quarter
        .only_mobile.bold Patterns:
        - service.patterns.each do |service_pattern|
          .single_pattern{ class: service_pattern.name.parameterize }
            = service_pattern.name
      .table__data.quarter
        - if service.life_events.any?
          .only_mobile.bold Life events:
        - service.life_events.each do |life_event|
          .single_pattern.not_pattern
            = life_event.name
      .table__data.two_col
        .only_mobile.bold Organisation:
        - service.organisation_types.each do |org_type|
          = org_type

.container.full_container
  = link_to "Add a new service", new_service_path, class: 'button right'
