!!!
%html
  %head
    %title LocalGov Patterns
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://use.typekit.net/xho7eby.css", :rel => "stylesheet"}/

  = render 'layouts/fg_header'
  %body{:class => page_class}
    - if flash[:notice]
      %div.notice
        = flash[:notice]
    = yield
  = render 'layouts/footer'
