!!!
%html
  %head
    = render 'layouts/google_analytics'
    %title Service patterns for local government | LocalGov Patterns | FutureGov
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://use.typekit.net/xho7eby.css", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    %meta{:content => "Service patterns for local government | LocalGov Patterns | FutureGov", :property => "og:title"}/
    %meta{:content => "Learn how we’re mapping and understanding common service patterns across local authorities, supporting local government to create more consistent experiences for citizens. Explore the services we’ve identified and add your own to scale service improvement and transformation in a much smarter way.", :property => "og:description"}/
    %meta{:content => "https://patterns.wearefuturegov.com/localpattern_share.png", :property => "og:image"}/
    %meta{:content => "https://patterns.wearefuturegov.com/", :property => "og:url"}/
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "Service patterns for local government | LocalGov Patterns | FutureGov", :property => "twitter:title"}/
    %meta{:content => "Learn how we’re mapping and understanding common service patterns across local authorities, supporting local government to create more consistent experiences for citizens. Explore the services we’ve identified and add your own to scale service improvement and transformation in a much smarter way.", :property => "twitter:description"}/
    %meta{:content => "https://patterns.wearefuturegov.com/localpattern_share.png", :property => "twitter:image"}/
    / Non-Essential, But Recommended
    %meta{:content => "Service patterns for local government | LocalGov Patterns | FutureGov", :property => "og:site_name"}/
    %meta{:content => "Service patterns for local government | LocalGov Patterns | FutureGov", :name => "twitter:image:alt"}/
    / Non-Essential, But Required for Analytics
    %meta{:content => "@futuregov", :name => "twitter:site"}/

    %link{:href => "icons/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "icons/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "icons/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "icons/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "icons/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "icons/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "icons/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "icons/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "icons/apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "icons/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "icons/android-chrome-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "icons/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "icons/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/

    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"
    :javascript
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#170710",
            "text": "#ffffff"
          },
          "button": {
            "background": "#ffffff",
            "text": "#170710"
          }
        },
        "theme": "classic",
        "position": "bottom-right",
        "content": {
          "message": "This website uses cookies. In order to continually improve this site, we remember and store information about how you use it  to ensure you get the best experience.",
          "href": "http://wearefuturegov.com/products/data_protection"
        }
      })});

  = render 'layouts/fg_header'
  %body{:class => page_class}
    - if flash[:notice]
      %div.notice
        = flash[:notice]
    = yield
  = render 'layouts/footer'
